.App {
  height: 48.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #84c4bc;
}

.mainDiv{
  border: 1px solid #ee7773;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #b64e8d;
  color: white;
}

.inputDiv{
  display: flex;
  justify-content: space-between;
}

.inputDesc{
  font-size: 16px;
}

.numberInput{
  height: 30px;
  margin: 10px;
  margin-top: 0px;
  border-color: #b64e8d;
  border-radius: 10px;
}

.numberInput:focus{
  outline: none;
}

.calculateButton{
  background-color: #595296;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 32px;
}

.calculateButton:hover{
  cursor: pointer;
}
